*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
  color: #1a1a1a;
}

nav {
  text-align: center;
  background-color: #333;
}

nav a {
  text-decoration: underline;
  color: rgb(42, 13, 229);
  padding: 10px 20px;
  background-color: #808080;
  margin: 0 5px;
}

nav a:hover {
  background-color: #555;
}

#featured-property {
  text-align: center;
  padding: 20px;
}

#featured-property img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#featured-property figcaption {
  font-size: 0.8rem;
  text-align: center;
  color: #777;
  margin-top: 10px;
}

#featured-property p {
  width: 800px;
  margin: 20px auto; 
  text-align: center; 
}

#details {
  display: flex;
  justify-content: stretch;
  padding: 20px;
  flex-wrap: wrap;
}

#details div {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 0;
  width: 23%;
  text-align: center;
  box-shadow: none;
}

#details div h3 {
  font-size: 1.5rem;
  color: #333;
}

#details div p a {
  color: #333;
  margin: 0;
}

#details div p a:hover {
  text-decoration: underline;
}

#details div:nth-child(1),
#details div:nth-child(2),
#details div:nth-child(3),
#details div:nth-child(4) {
  background-color: #ff4d4d; 
  color: rgb(37, 2, 2);
  width: 23%;
  margin: 0;
}

#details div h3,
#details div p {
  text-align: center;
}
@media (max-width: 768px) {
  #details {
    flex-direction: column;
    align-items: center;
  }

  #details div {
    width: 80%;
    margin-bottom: 20px;
  }
}